@model IEnumerable<Certificate>

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="block-title">
            <h3>Certificates</h3>
        </div>
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <!-- Certificate 1 -->
        <div class="col-xs-12 col-sm-6">
            <div class="certificate-item clearfix">
                <div class="certi-logo">
                    <img src="img/clients/@item.Image" alt="logo">
                </div>

                <div class="certi-content">
                    <div class="certi-title">
                        <h4>@item.Title</h4>
                    </div>
                    <div class="certi-id">
                        <span>Membership ID: @item.SerialNumber</span>
                    </div>
                    <div class="certi-date">
                        <span>@item.AchiveDate</span>
                    </div>
                    <div class="certi-company">
                        <span>@item.Company</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Certificate 1 -->
    }
  
    

</div>