@model IEnumerable<MvcResume.Models.Blog>

    
    <section data-id="blog" class="animated-section">
        <div class="page-title">
            <h2>Blog</h2>
        </div>

        <div class="section-content">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="blog-masonry two-columns clearfix">
                    @foreach(var item in Model)
                    {
                        <div class="item post-1">
                            <div class="blog-card">
                                <div class="media-block">
                                    <div class="category">
                                        <a href="#" title="View all posts in Design">@item.Category</a>
                                    </div>
                                    <a href="blog-post-1.html">
                                        <img src="img/blog/@item.Image" class="size-blog-masonry-image-two-c" alt="Why I Switched to Sketch For UI Design" title="" />
                                        <div class="mask"></div>
                                    </a>
                                </div>
                                <div class="post-info">
                                    <div class="post-date">@item.CreateDate</div>
                                    <a href="blog-post-1.html">
                                        <h4 class="blog-item-title">@item.ShortDescription</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                    
                    </div>
                </div>
            </div>
        </div>


    </section>
    