@{
    ViewData["Title"] = "Home Page";
}

<div class="content-area">
            <div class="animated-sections">
              <!-- Home Subpage -->
              <section data-id="home" class="animated-section start-page">
                <div class="section-content vcentered">

                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="title-block">
                          <h2>Sadegh Mazaheri</h2>
                          <div class="owl-carousel text-rotation">                                    
                            <div class="item">
                              <div class="sp-subtitle">C# Developer</div>
                            </div>
                            
                            <div class="item">
                              <div class="sp-subtitle">Asp.net Core & MVC</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
              </section>
              <!-- End of Home Subpage -->

              <!-- About Me Subpage -->
        @await Component.InvokeAsync("Aboutme")
              <!-- End of About Me Subpage -->

              <!-- Resume Subpage -->
              @await Component.InvokeAsync("Resume")
              <!-- End of Resume Subpage -->

              <!-- Portfolio Subpage -->
        @await Component.InvokeAsync("Portfolio")
              <!-- End of Portfolio Subpage -->

              <!-- Blog Subpage -->
        @await Component.InvokeAsync("Blogs")
              <!-- End of Blog Subpage -->

              <!-- Contact Subpage -->
             @await Component.InvokeAsync("Contact")
              <!-- End of Contact Subpage -->
            </div>
          </div>