<section data-id="resume" class="animated-section">
    <div class="page-title">
        <h2>Resume</h2>
    </div>

    <div class="section-content">

        <div class="row">
            <div class="col-xs-12 col-sm-7">

                <div class="block-title">
                    <h3>Education</h3>
                </div>

                @await Component.InvokeAsync("Education")

                <div class="white-space-50"></div>

                <div class="block-title">
                    <h3>Experience</h3>
                </div>

                @await Component.InvokeAsync("Experience")

            </div>

            <!-- Skills & Certificates -->
            @await Component.InvokeAsync("Skill")
            <!-- End of Skills & Certificates -->
        </div>

        <div class="white-space-50"></div>

        <!-- Certificates -->
        @await Component.InvokeAsync("Certificate")
        <!-- End of Certificates -->
    </div>
</section>